:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

body {
  padding: 0;
  margin: 0;
  background-color: #1D1D1D;
  display: flex;
  flex-direction: column;
}

#linha {
  animation: slide 0.8s ease 0s normal forwards;
}

#linha div{
  transition: all 0.2s;
}
#linha div:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
#title {
  animation: slide 0.8s ease 0s normal forwards;
  cursor: default;
}